.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.three p {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  text-align: left;
  position: relative;
}
.three p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
.three p:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

.btn-submit {
  border-radius: 40px !important;
  
  padding: 10px 18px 10px 18px  !important;
  font-size: 17px !important;
  /* border: 2px solid rgb(25, 60, 52) !important; */
  color: rgb(25, 60, 52) !important;
  background-color: rgb(255, 180, 2) !important;
  transition: 0.5s ease-in-out;
}

.btn-submit:hover {
  background-color: rgb(25, 60, 52) !important;
  color: white !important;
}

@media (prefers-reduced-motion: no-preference) {
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-green{
  background-color: rgb(25, 60, 52);
}

.carousel-heading{
  color : white;
  text-align: left;
  padding: 20px;
  color: #FFB402;
}


@media (max-width: 600px) {
  .three p{
    font-size: 20px;
  }
  .carousel-heading{
    width: 90vw;
    font-size: 20px;
  }
}

.btn-connect{
    border-radius : 25px;
    display: inline-block;
    text-decoration: none;
    margin-top : 10px;
    padding :  15px 20px 17px 20px;
    cursor : pointer;
    margin-bottom : 10px;
    border : 2px solid rgb(25, 60, 52);
    background-color : #FFB402;
    color : rgb(25, 60, 52);
    font-size : 20px;
    transition: 0.5s ease-in-out;
    font-weight: 500;
}

.btn-connect:hover {
  background-color: rgb(25, 60, 52);
  color : white;
  border : 2px solid white;
}

@media (max-width : 600px) {
  .btn-connect{
    border-radius : 15px;
    padding :  10px 15px 12px 15px;
    font-size : 15px;
    transition: 0.5s ease-in-out;
    /* align-items: center; */
}
}